@import "default/variables";
@import "../bourbon/bourbon";
/*
@include font-face("Calibri web", "/fonts/Calibri");
@include font-face("Calibri web", "/fonts/Calibri-Bold", 700);*/
/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("/assets/fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("/assets/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("/assets/fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  }
/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("/assets/fonts/MyriadProBold/MyriadProBold.eot");
  src: url("/assets/fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
  url("/assets/fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  }
/* font-family: "MyriadProItalic"; */
@font-face {
  font-family: "MyriadProItalic";
  src: url("/assets/fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("/assets/fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
  url("/assets/fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  }
/* font-family: "MyriadProSemiBold"; */
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("/assets/fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("/assets/fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
  url("/assets/fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  }
/* font-family: "MyriadProBoldItalic"; */
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("/assets/fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("/assets/fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
  url("/assets/fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  }
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("/assets/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("/assets/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
  url("/assets/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  }
