@import "../compass";
@import "../compass/utilities/sprites";
@import "default/variables";

$icons-sort-by : '!width';
$icons-layout : 'smart';
$icons-sprite-dimensions:true;
@import "icons/*.png";
@include all-icons-sprites;
