@import "../default/_variables";
@import "../../_compass";

@include sticky-footer($foother-height, ".main-wrap", ".body-footer", "#footer");

#main {
  }

@media (min-width : 972px) {
#main {
    }
  }


@media (max-width : 972px) {
  #main {
    }
  }

@media (max-width : 768px) {
#main {
    }
  }


@media (max-width : 640px) {
#main {
    }
  }


@media (max-width : 540px) {
  #main {
    }
  }

@media (max-width : 320px) {
 #main {
    }
  }


/*120, 160, 240, 320, 360, 480, 540, 576, 600, 640, 720, 768, 800, 864, 900, 960, 1024, 1050, 1080, 1152, 1200, 1440, 1536, 1600, 1620, 1800, 2048, 2160, 2400, 3072, 3200, 3240, 4096, 4320, 4800.*/
