.carousel-fade {
  .carousel-inner {
    .item {
      opacity             : 0;
      transition-property : opacity;
      }
    .active {
      opacity : 1;
      &.left, &.right {
        left    : 0;
        opacity : 0;
        z-index : 1;
        }
      }
    .next.left, .prev.right {
      opacity : 1;
      }
    }
  .carousel-control {
    z-index : 2;
    }
  }

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade {
    .carousel-inner {
      > .item.next,
      > .item.active.right {
        opacity           : 0;
        -webkit-transform : translate3d(0, 0, 0);
        transform         : translate3d(0, 0, 0);
        }
      > .item.prev,
      > .item.active.left {
        opacity           : 0;
        -webkit-transform : translate3d(0, 0, 0);
        transform         : translate3d(0, 0, 0);
        }
      > .item.next.left,
      > .item.prev.right,
      > .item.active {
        opacity           : 1;
        -webkit-transform : translate3d(0, 0, 0);
        transform         : translate3d(0, 0, 0);
        }
      }
    }
  }
